html, body
	font-family Roboto
	font-size 16px
	line-height 1.333
	margin 0
	padding 0
.editor-root
	max-width 800px
	margin 30px auto
	padding 20px
	h2
		font-size 1.666em
		font-weight bold
	h3
		font-size 1.333em
	p, ul, ol, h2, h3, h4
		margin 0 0 1.5em
[contenteditable]
	outline none
